* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #f1f5f9;
}

.tales {
  width: 200px;
  height: 500px;
}

.kata {
  text-align: center;
}

.isi {
  background-image: url("assets/images/background2.png");
  background-size: cover;
  height: 72vh;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  text-align: center;
  margin-bottom: 50px;
}

.h-isi {
  font-family: "Inter", sans-serif;
  font-size: 60px;
  font-weight: 700;
}

.p-isi {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
}

.h-konsul {
  font-family: "Inter", sans-serif;
  font-size: 60px;
  font-weight: 700;
}

.p-konsul {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
}

.tentang {
  font-family: "Inter", sans-serif;
  font-size: 60px;
  font-weight: 700;
}

.h-kontak {
  font-family: "Inter", sans-serif;
  font-size: 60px;
  font-weight: 700;
  text-align: left;
}

.p-kontak {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 400;
  color: #6d7280;
}

footer {
  color: black;
}

.h1-footer {
  font-family: "Red Rose", cursive;
  font-size: 30;
}

.p-footer {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 700;
}

.p-footer2 {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #6d7280;
}

#btn-footer {
  background-color: black;
  color: white;
  text-align: center;
  width: 130px;
  height: 34px;
  border-radius: 10px;
}

@media screen and (max-width: 680px) {
  #maincontent {
    width: auto;
    float: none;
  }
  #sidebar {
    width: auto;
    float: none;
  }
}
